<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="w3.css">
</head>
<body>
    <div class = "menu">
        <a href="/" class = "logo"></a>
        <a href="/preco" class = "precoBtn"></a>  
        <a href="/tempo" class = "tempoBtn"></a>
        <a href="/req" class = "reqBtn"></a>
        <input type="text" class = "pesquisa">
    </div>
    
    <style>
    .mySlides {display:none;}
    </style>
      
    <div class="w3-content w3-display-container">
        <a href = "/ubisoft"><img class="mySlides" src="https://cdna.artstation.com/p/assets/images/images/024/624/716/large/yann-schwindowsky-logo-ubisoft-final.jpg?1583015416"></a>
        <a href = "/riot"><img class="mySlides" src="https://www.riotgames.com/darkroom/1440/656220f9ab667529111a78aae0e6ab9f:10e46504aa7f70eb33ef43ee464cb2d4/01-logo.png"></a>
        <a href = "/ea"><img class="mySlides" src="https://jogandocasualmente.com.br/wp-content/uploads/2020/05/ea-logo-black.jpg"></a>
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

    <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
    }
    </script>
</body>
</html>