<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo dos Jogos</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class = "tempo">
        <a href="/home" class = "logoA"></a>
        <a href="/preco" class = "precoBtnA"></a>  
        <a href="/req" class = "reqBtnA"></a>
        <input type="text" class = "pesquisa">
    </div>
    
</body>
</html>